<% if (messages.success) { %>
    <div class="flash-success">
        <%= messages.success %>
    </div>
    <% } %>

        <% if (messages.error) { %>
            <div class="flash-error">
                <%= messages.error %>
            </div>
            <% } %>

                <section class="management">
                    <h2>Inventory Management</h2>

                    <ul>
                        <li><a href="/inv/add-classification">Add New Classification</a></li>
                        <li><a href="/inv/add-inventory">Add New Inventory</a></li>
                    </ul>

                    <!-- REQUIRED ADDITIONS START HERE -->

                    <h2>Manage Inventory</h2>

                    <p>Select a classification to see the corresponding inventory items.</p>

                    <!-- classification select list passed from controller -->
                    <%- classificationSelect %>

                        <!-- empty table where JS will insert vehicles -->
                        <table id="inventoryDisplay"></table>

                        <!-- display message if JS disabled -->
                        <noscript>JavaScript must be enabled to use this page.</noscript>

                        <!-- attach the front-end JS file -->
                        <script src="/js/inventory.js"></script>

                        <!-- REQUIRED ADDITIONS END HERE -->
                </section>